<link rel="stylesheet" href="../css/form.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">

<div class="form">
    <form action="">

        <h1>Faça seu login</h1>
        
        <input type="text" name="email" id="email" placeholder="Email">

        <input type="text" name="password" id="password" placeholder="Senha">

        <button>Entrar</button>

        <span class="remember_password">
            <a href="#">Esqueceu a sua senha?</a>
        </span>

        <hr>

        <a href="#"><button>Criar usuário</button></a>
    </form>
    
</div>